@import './typography';
@import './layout';
@import './variables';

:root {
    @import url('https://fonts.googleapis.com/css?family=PT+Serif:700|Work+Sans:400,600&display=swap');
}

main {
    padding: 6rem 1.4rem;
    box-sizing: border-box;
    background-image: url('./assets/graphics/header-top.svg'), url('./assets/graphics/header-bottom.svg');
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
}